---
name: Go linter
on:
  workflow_dispatch:
  push:
  pull_request:
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: Golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup mise
        uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Lint
        run: mise task run lint
