---
name: Go unit tests
on:
  workflow_dispatch:
  push:
  pull_request:
env:
  GO_VERSION: '~1.22'
jobs:
  golangci:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: true

    - name: Test
      run: mise task run test